{% extends "mycrm/layouts/base.html" %}

{% block title %} Add Record {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
			<div class="row justify-content-center form-bg-image">
				<div class="col-12 d-flex align-items-center justify-content-center">
					<div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
						<div class="text-center text-md-center mb-4 mt-md-0">
							<h2 class="h5">{{ status }}</h2>
						</div>
						<div class="text-center text-md-center mb-4 mt-md-0">
							<h1 class="mb-0 h3">Add Record</h1>
						</div>
						<form action="/mycrm/record" method="post" class="mt-4">
							{% csrf_token %}
							<!-- Form -->
							<div class="form-group mb-4">
								<div class="row">
									<div class="col-12 mb-4">
										<div class="card border-light shadow-sm components-section">
											<div class="card-body">     
												<div class="row mb-4">
													<div class="col-lg-4 col-sm-6">
														<label for="first_name">First Name</label>
														<div class="input-group">
															<input type="text" name="first_name" maxlength="100" class="form-control" placeholder="Bob" id="first_name" autofocus required>
														</div>
														<label for="last_name">Last Name</label>
															<div class="input-group">
																<input type="text" name="last_name" class="form-control" placeholder="Last Name" id="last_name" required>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6">
														<label for="first_name">Record Type</label>
														<div class="input-group">
															<select class="form-select" name="record-type" id="record-type" aria-label="Record Type">
																<option selected>Choose a Record Type</option>
					
																{% for type in types %}
																	<option value="{{type.id}}">{{company.group_name}}</option>
																{% endfor %}
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="d-grid">
									<button type="submit" class="btn btn-dark">Add Record</button>
								</div>  
							</div>
						</form>
					</div>
				</div>
			</div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
