{% extends "mycrm/layouts/base.html" %}

{% block title %} Add Record Group {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<script>
        // Attach a submit handler to the form
        $( "#searchForm" ).submit(function( event ) {
         
        });
</script>


{% block content %}

    <main>
        <!-- Section -->
        <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h2 class="h5">{{ status }}</h2>
                            </div>
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Add Record Type</h1>
                            </div>
                            <form action="/mycrm/recordgroup" method="post" class="mt-4">
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="group_name">Record Type Name</label>
                                    <div class="input-group">
                                        <input type="text" name="group_name" maxlength="100" class="form-control" placeholder="Group Name" id="group_name" autofocus required>
                                    </div>

                                    <label class="my-1 me-2" for="company">Company</label>
                                    <div class="input-group">
                                        <select class="form-select" name="company" id="company" aria-label="Company Selector">
                                            <option selected>Choose a Company</option>

                                            {% for company in companies %}
                                                <option value="{{company.id}}">{{company.company_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <div class="input-group">
                                        <input type="text" name="group_name" maxlength="100" class="form-control" placeholder="Group Name" id="group_name" autofocus required>
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-dark">Add Data Point</button>
                                    </div>  
                                </div>
                                <div class="form-group mb-4">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-dark">Add Record Type</button>
                                    </div>  
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
